:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --section-grey-color: #f5f4fa;
  --footer-color: #2f303a;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  font-family: var(--main-font);

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============header================== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.part-logo {
  color: var(--accent-color);
}

.menu-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.menu-item-link.current {
  color: var(--accent-color);
}

.contacts-item-mail,
.contacts-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.link-hover-focus:focus,
.link-hover-focus:hover {
  color: var(--accent-color);
}
/* ==============header================== */
.hero {
  background-color: var(--footer-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* ==============hero================== */

/* ==============advantages================== */
.advantages-title {
  color: tomato;
}

.advantages-list-item-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.advantages-list-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ==============advantages================== */

/* ==============business================== */
.business-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* ==============business================== */

/* ==============team================== */
.team {
  background-color: var(--section-grey-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-list-item-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ==============team================== */

/* ==============footer================== */
.footer {
  background-color: var(--footer-color);
}
.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.address-list-item-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.address-list-item-mail,
.address-list-item-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* ==============footer================== */

/* ==============filter================== */
.portfolio-title {
  color: tomato;
}

.filter-list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--section-grey-color);
}

.filter-list-button:hover,
.filter-list-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* ==============filter================== */

/* ==============examples================== */
.examples-list-item-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.examples-list-item-desc {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
/* ==============examples================== */
